Makefile
Makefile.in
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
config.h
stamp-h1
install-sh
libtool
ltmain.sh
missing
depcomp
autom4te.cache/*
*~
.DS_Store
*.sw?
*.o
*.Po
*.log
xfmixer/xfmixer
